.imagem__principal{
    background-color: rgba(0,0,0,1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,.25);
    display: block;
    height: 350px;
    margin: 0 0 1rem;
    width: 350px;
    transition: background-image ease .25s
}