.produto__link{
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    transition: background-color ease .25s, color ease .25s;
}
.produto__link:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--main-color-text);
}